# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.venv/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Environment
.env
.venv
venv/
ENV/

# Git
.git/

# General
.DS_Store
*.log