asgiref==3.8.1
blinker==1.9.0
Booktype==1.5
click==8.1.7
colorama==0.4.6
Django==5.1.4
Flask==3.0.3
Flask-Cors==5.0.0
freezegun==1.5.1
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==3.0.2
packaging==24.2
pluggy==1.5.0
pytest==8.3.4
python-dateutil==2.9.0.post0
redis==5.2.1
setuptools==75.6.0
simplejson==3.19.3
six==1.17.0
sqlparse==0.5.3
tzdata==2024.2
Werkzeug==3.1.3
